@model IEnumerable<Fx.Models.xuexiang>
@foreach (var item in Model)
{
<tr id="@item.id">
<th>@item.id</th>
<th>@item.name</th>
<th>@item.sex</th>
<th>@item.bir.ToString("yyyy/MM/dd")</th>
<th>@Ajax.ActionLink("删除", "Delxue", new {id=item.id }, new AjaxOptions() {Confirm="将删除学号为"+item.id+"的学生信息(该学生成绩也会删除)！",UpdateTargetId="xuexiang"}, new { @class = "btn btn-info col-xs-12 col-lg-4 glyphicon glyphicon-trash" })
    <a href="#" class="btn btn-warning col-xs-12 col-lg-4 col-lg-offset-3" onclick="bian('@item.id')"><span class="glyphicon glyphicon-pencil"></span>编辑</a></th>
 </tr>
}
